:root {
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
}

.mt-70 {
  margin-top: 70px;
}



footer p {
  margin-bottom: 0;
  padding-bottom: 40px;
}



.card-all {
  display: flex;
  justify-content: center;
}
